<div ng-controller="searchController">
    <div class="customHeader">
        <div class="pageTitle changeView" ng-click="changeView.show('.changeView')">{{masterObj[prodIndex].shortName|capitalize}} <i class="icon ion-chevron-right terumoGreen"></i> {{masterObj[prodIndex].versions[verIndex].fullName|capitalize}} <i class="icon ion-chevron-right terumoGreen"></i> {{masterObj[prodIndex].versions[verIndex].languages[langIndex].langName|capitalize}}</div>
    </div>
    <div class="customContent">
        <div class="searchBox">
            <div class="searchWrapper">
                <i class="icon ion-search terumoGreen"></i>
                <input class="terumoGreen" type="text" placeholder="Search..." ng-model="search" ng-focus="$emit('hideheader')" ng-blur="$emit('showheader')">
                <i ng-click="search=''" class="icon ion-close-circled terumoGreen"></i>
            </div>
            <div ng-if="searchFilters[masterObj[prodIndex].shortName]" class="toggleBox">
                <div class="toggles" ng-repeat="s in searchFilters[masterObj[prodIndex].shortName]">
                    <label class="checkbox checkbox--material">
                        <input type="checkbox" class="checkbox__input checkbox--material__input" ng-model="s.checked" ng-checked="s.checked" ng-click="updateLocalStorage()">
                        <div class="checkbox__checkmark checkbox--material__checkmark"></div>
                        Show {{s.name}} alarms
                    </label>
                </div>
            </div>
        </div>
        <ons-list class="searchList">
            <ons-list-item modifier="tappable" class="alarmItem" ng-if="x.name.length>1" ng-repeat="x in (filtered = (alarmNames | filter : search | alarmNameFilter: searchFilters[masterObj[prodIndex].shortName] : masterObj[prodIndex].shortName)) | limitTo: limitNumber" ng-click="alarmClick(x,search)">
                <ons-ripple color="rgba(180, 183, 186, 0.25)"></ons-ripple>
                <span class="alarmItemTitle" ng-if="x.number">{{x.number}}</span>
                <img ng-if="x.image" ng-src="{{x.image}}" class="scale_inline">
                <span class="alarmItemTitle" ng-if="x.name == ' '">{{x.enumerator}}</span>
                <span class="alarmItemTitle" ng-if="x.name !== ' '">{{x.name}}</span>
                <br>
                <span ng-if="x.enumerator" class="alarmItemSecondary"> ({{x.enumerator}})</span>
                <span ng-if="x.log" class="alarmItemSecondary"> ({{x.log}})</span>
            </ons-list-item>
        </ons-list>
    </div>
    <infinitescroller ng-show="filtered.length>=50 && filtered.length > limitNumber"></infinitescroller>
</div>