/*fonts*/

@font-face {
    font-family: 'TerumoBCTBold';
    src: url('../fonts/terumobct_bd-webfont.eot');
    src: url('../fonts/terumobct_bd-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_bd-webfont.woff') format('woff'), url('../fonts/terumobct_bd-webfont.ttf') format('truetype'), url('../fonts/terumobct_bd-webfont.svg#TerumoBCTBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTLight';
    src: url('../fonts/terumobct_lt-webfont.eot');
    src: url('../fonts/terumobct_lt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_lt-webfont.woff') format('woff'), url('../fonts/terumobct_lt-webfont.ttf') format('truetype'), url('../fonts/terumobct_lt-webfont.svg#TerumoBCTLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTItalic';
    src: url('../fonts/terumobct_rgit-webfont.eot');
    src: url('../fonts/terumobct_rgit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_rgit-webfont.woff') format('woff'), url('../fonts/terumobct_rgit-webfont.ttf') format('truetype'), url('../fonts/terumobct_rgit-webfont.svg#TerumoBCTItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTRegular';
    src: url('../fonts/terumobct_rg-webfont.eot');
    src: url('../fonts/terumobct_rg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_rg-webfont.woff') format('woff'), url('../fonts/terumobct_rg-webfont.ttf') format('truetype'), url('../fonts/terumobct_rg-webfont.svg#TerumoBCTRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTBoldItalic';
    src: url('../fonts/terumobct_bdit-webfont.eot');
    src: url('../fonts/terumobct_bdit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_bdit-webfont.woff') format('woff'), url('../fonts/terumobct_bdit-webfont.ttf') format('truetype'), url('../fonts/terumobct_bdit-webfont.svg#TerumoBCTBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTThin';
    src: url('../fonts/terumobct_th-webfont.eot');
    src: url('../fonts/terumobct_th-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_th-webfont.woff') format('woff'), url('../fonts/terumobct_th-webfont.ttf') format('truetype'), url('../fonts/terumobct_th-webfont.svg#TerumoBCTThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

#iframe {
    display: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'TerumoBCTRegular' !important;
    color: #444;
    font-size: 14px;
}

@media screen and (max-width: 700px) {
    html,
    body {
        font-size: .5rem;
    }
    .profileBackground {
        font-size: 0.8em !important;
    }
    .pageTitle {
        font-size: 1em !important;
    }
    .checkbox--material__checkmark {
        width: 18px;
        height: 18px;
    }
    .checkbox--material__input + .checkbox--material__checkmark:after {
        width: 10px;
        height: 5px;
        top: 4px;
        left: 3px;
    }
    .checkbox--material__input:checked + .checkbox--material__checkmark:after {
        top: 4px;
        left: 3px;
    }
    .checkbox--material__checkmark:before {
        width: 18px;
        height: 18px;
    }
    .checkbox__checkmark:after {
        border-width: 2px;
    }
    .checkbox--material {
        line-height: 18px;
    }
    .toggles .checkbox--material {
        font-size: 1em !important;
    }
    .alarmItemTitle {
        font-size: 2.5rem !important;
    }
    .alarmItemSecondary {
        font-size: 1.5rem !important;
    }
    .profileBackground .title {
        letter-spacing: 0 !important;
    }
}

.toggles .checkbox--material__input:checked + .checkbox--material__checkmark::before {
    background-color: #555;
}

.toggles .checkbox--material {
    background: #009a44;
    color: #fff;
}

.toggles .checkbox--material {
    font-size: 1.25em;
}

.registration button {
    font-family: "TerumoBCTBold";
}


/*recently viewed*/

.pageFooter {
    position: absolute;
    width: 100%;
    border-top: 1px solid #bbb;
    background: #ddd;
    bottom: 0;
    padding: 2% 5%;
}

.recentItem {
    background: #ddd;
    border-color: #888;
    border-style: solid;
    border-width: 0 0 3px 3px;
    font-size: 2rem;
    margin: 2% 3%;
    padding: 2%;
}


/*onsen css overrides*/

.dialog {
    width: 50%;
}

.tab-bar__button {
    height: 60px;
    line-height: 60px;
}

.tab-bar__icon + .tab-bar__label {
    font-size: 1.25rem;
}

.tab-bar__icon {
    font-size: 2.5rem;
}

.tab-bar {
    border-top: 1px solid #bbb;
    background: #009a44;
    font-size: 1.5rem;
    height: auto;
    z-index: 1000000;
}

:checked + .tab-bar__button {
    color: #FFFFFF;
}

.tab-bar__button {
    color: #66C28F;
}

.rv .popover,
.sp .popover {
    min-width: 50vw;
    width: auto;
}

.switch--material__toggle::before {
    height: 30px;
    width: 30px;
    top: 1px;
}

.switch--material {
    width: 48px;
}

.switch--material__input:checked + .switch--material__toggle::before {
    transform: translateX(24px);
}

.switch--material__toggle {
    height: 22px;
    margin-top: -2.5px;
}

.tab-bar--material__button {
    font-size: 2rem;
}

input.ng-invalid.ng-touched {
    background-color: #FA787E;
    padding: 1% 0;
}


/*language select*/

.select-style {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: .75em;
    height: 3rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 2.5%;
}

.select-style select {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    font-family: "TerumoBCTRegular";
    font-size: 1.25em;
    padding: 0.5rem;
    width: 130%;
}

.select-style::after {
    box-sizing: border-box;
    color: #000;
    content: "\f0d7";
    font-family: FontAwesome;
    height: 100%;
    padding: 12px 8px;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 1;
}


/*page view*/

.pageView {
    padding: 3%;
    position: relative;
    overflow: auto;
}

.pageHeader {
    position: relative;
    background: #ddd;
    color: #444;
}

.pageTitle {
    font-size: 1.5em;
    padding: 3%;
    display: inline-block;
    color: #444;
}

.headerTitle {
    font-size: 3rem;
    padding: 4% 1.5%;
    border-bottom: 2px solid #009a44;
}


/*product page*/

.productItem {
    font-family: "TerumoBCTBold";
    font-size: 2rem;
    padding: 4% 1.5%;
    border-bottom: 2px solid;
}


/*version page*/

.selectVersion {
    font-size: 3rem;
    padding: 3% 0;
}

.versionTitle {
    font-family: "TerumoBCTBold";
    font-size: 2rem;
    padding: 3% 0;
}

.versionItem {
    font-size: 2rem;
    padding: 3%;
}


/*language page*/

.languageItem {
    border-top: 1px solid #ddd;
    color: #aaa;
    font-size: 2.5rem;
    padding: 1%;
}


/*search page*/

.customHeader {
    background: #ddd;
    color: #444;
    border-bottom: 1px solid #b2b2b2;
}

.customContent {
    transition: all .25s;
}

.searchBox {
    padding: 2% 3% 2% 3%;
    background: #009a44;
}

.searchWrapper {
    background: #fff none repeat scroll 0 0;
    padding: 1%;
}

.searchBox input {
    border: 0 none;
    border-radius: 0;
    font-family: "TerumoBCTRegular";
    font-size: 2.5rem;
    height: auto;
    line-height: inherit;
    padding: 1 2%;
    width: calc(100% - 5rem);
}

.searchBox .icon {
    font-size: 2rem;
}

input::-webkit-input-placeholder {
    color: #009a44;
}

.alarmItem {
    position: relative;
    background: #eee;
    margin: 2% 3%;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 3px 1px;
    padding: 1%;
}

.alarmItemTitle {
    font-size: 2rem;
    color: #009a44;
}

.alarmItemSecondary {
    font-size: 1rem;
    color: #444;
    display: inline-block;
    margin-top: 1em;
}

.scale_inline {
    height: 2rem;
    vertical-align: text-bottom;
}

.tabBar {
    transition: top .125s;
}

.toggleBox {
    background: #009a44;
    margin: 1% 0 0 0;
    padding: 0;
}

.selectedItem {
    border-color: #009a44;
    font-family: "TerumoBCTBold";
    background: rgba(0, 154, 68, 0.25);
    border-width: 0 0 6px 6px;
}


/*
.toggles:not(:last-child) {
    margin-bottom: 2.5vh;
    position: relative;
}

.toggles {
    position: relative;
}*/

.toggles {
    position: relative;
}

.settingsButton {
    font-size: 1.5em;
    color: #FFF;
    padding: 1%;
    width: 100%;
}


/*to top button*/

.toTop {
    background: #009a44;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 4rem;
    opacity: 0;
    padding: 1% 2.5%;
    position: fixed;
    right: 5%;
    top: 5%;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    z-index: 100000;
}

.toTopShow {
    opacity: 1;
    visibility: visible;
}


/*alarm view*/

.alarmInfo {
    padding: 3%;
    position: relative;
}

.alarmBody {
    font-size: 2rem;
    color: #444b52;
}

.alarmTitle {
    font-size: 3rem;
    line-height: 1em;
    padding: 4% 3%;
    background-color: #8F9397;
    color: #FFFFFF;
}

.alarmInfoBody {
    font-size: 2rem;
}

.box {
    position: relative;
    padding: 3%;
}

.troubleshooting_list {
    list-style-type: square;
    margin: 0.5%;
    padding-left: 6%;
}

.troubleshooting_list li {
    padding-bottom: 2%;
}

dl,
dt,
dd {
    margin: 0;
    color: #444b52;
}

dt {
    font-family: "TerumoBCTBold";
    padding: 4px 0 6px 0;
}

ol {
    margin: 0.5%;
    padding-left: 6%;
}

ol li {
    padding-bottom: 2%;
}

ol ol {
    list-style-type: upper-alpha;
    margin-left: 1.5%;
}

ol ol li {
    list-style-type: upper-alpha;
    margin-left: 1.5%;
}


/*infinite scroller*/

.iconCenter {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}


/*registration*/

.profileBackground {
    background: #fafafa;
    padding: 2.5%;
    margin: 5%;
    position: relative;
    font-size: 2.5rem;
}

.profileBackground .title {
    font-size: 1.625em;
    color: #454545;
    letter-spacing: -3px;
}

.profileBackground .form {
    padding: 0 2.5%;
    margin-top: 2.5%;
}

.profileBackground .entry {
    margin: 5% 0;
}

.profileBackground .product {
    border-bottom: 1px solid #ccc;
}

.profileBackground .productTitle {
    font-family: "TerumoBCTBold";
    padding: 1.5%;
}

.productTitleSpan {
    line-height: 2.2em;
}

.profileInput {
    font-size: 1.75em;
    height: auto;
    width: 100%;
}

.profileBackground .done {
    font-size: .8em;
    font-family: Arial, sans serif;
    font-weight: bold;
    padding: 1% 3%;
}

.profileBackground .productInfo {
    padding: 0 5%;
}

.profileBackground .versions {
    border-top: 1px solid #ccc;
    font-size: 1em;
    padding: 1% 0;
    font-family: "TerumoBCTBold";
}

.profileBackground .versionHeader {
    font-size: 1em;
    padding: 1% 0;
}

.profileBackground .versionsList {
    padding: 0 2%;
}

.profileBackground .languages {
    border-top: 1px solid #ccc;
    font-size: 1em;
    padding: 1% 2%;
}

.profileBackground .langHeader {
    padding: 1%;
    font-family: "TerumoBCTBold";
}

.profileBackground .langs {
    padding: 1%;
}

.profileBackground .eachLang {
    padding: 1%;
    font: 1.5em;
}

.profileBackground .eachLang span {
    font: 1.5em !important;
}

.doneButtons {
    padding: 2% 0;
}

.doneButtons button {
    margin-left: 1%;
}


/*colors*/

.terumoGreen {
    color: #009a44 !important;
}

.terumoGreenBackground {
    background: #009a44 !important;
    color: #fff !important;
}